---

const urlAPI = import.meta.env.SCORE_API_ENDPOINT;

const res = await fetch(urlAPI)
const scoreValue = await res.text();
    
---

<span class="test-xs" id="score">
    Puntuacion: {scoreValue.trim()}/5
</span>
